# Environment files
.env
.env.*

# Python cache
__pycache__/
*.pyc

# Virtual environment
myenv/
.env/

# OS files
.DS_Store

UNIdata/credentials.json
UNIdata/sheets_config.json
UNIdata/vectordb/
UNIdata/chunks/
*.json
!requirements.txt

vectordb_linux.zip
create_zip.py