fastapi
uvicorn
pydantic
python-multipart

python-jose
passlib[bcrypt]
bcrypt==4.3.0

sqlalchemy
psycopg2-binary

python-dotenv

langchain
langchain-community
langchain-openai
openai

chromadb

sentence-transformers


pypdf
python-docx
unstructured